.button {   
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button:after {
  content: '';
  
  background-color: var(--black-900);
  display: block;
  height: 2px;  
  width: 100%;
  
  position: absolute;
  top: calc(50% - 1px);
  left: 0;  

  z-index: 1;
}

.button button {
  background-color: transparent;
  border: none;
  height: 50px;
  
  cursor: pointer;

  z-index: 2;
}

.button button:before {
  content: '';

  display: block;
  background-color: var(--main-red);
  border: none;

  height: 50px;
  width: 220px;
  transform: skew(170deg);   
}

.button button span {
  color: var(--white);
  font-size: 1.05rem;  
  text-transform: uppercase;

  position: relative;
  top: -32px;
  pointer-events: none;
}

