.checkbox__wrapper {
	line-height: 1rem;
}

.checkbox__wrapper label {
	cursor: pointer;
	display: flex;

	font-size: 1rem;
	line-height: 1.2rem;
}

.checkbox__wrapper input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;

	display: block;
	margin: 0 0.8rem 0 0;

	border: 1px solid var(--gray-500);
	outline: none;

	min-width: 1.125rem;
	height: 1.125rem;
}

.checkbox__wrapper input:checked {
	background-color: var(--checkbox-red);
	border: 1px solid var(--checkbox-red);
	position: relative;
}

.checkbox__wrapper input:checked::before {
	content: '\2714';
	font-size: 1.5em;
	color: #fff;
	position: absolute;
	right: 1px;
	top: -5px;
}
