.header {
	display: flex;
	justify-content: flex-start;
}

.header__wrapper {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.header__wrapper .social {
	align-items: flex-end;
	margin: 0 0 0 13px;
}
